[tool.poetry]
name = "tracarbon"
authors = ["Florian Valeye <fvaleye@github.com>"]
version = "0.2.0"
description = "Tracarbon tracks your device's power consumption and calculates your carbon emissions."
readme = "README.md"
license = "Apache-2.0"
keywords = ["energy", "sustainability", "energy-consumption", "electricity-consumption", "energy-efficiency", "carbon-footprint"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only"
]
include = ["tracarbon/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"
loguru = "^0.6.0"
aiohttp = "^3.8.1"
aiocache = "^0.11.1"
psutil = "^5.9.0"
ujson = "^5.1.0"
msgpack = "^1.0.3"
pydantic = "^1.9.0"
typer = "^0.4.0"
ec2-metadata = "^2.9.0"
datadog = {version = "^0.44.0", optional = true}

[tool.poetry.dev-dependencies]
mypy = "^0.931"
black = "^22.1.0"
isort = "^5.10.1"
pytest = "^7.0.1"
pytest-mock = "^3.7.0"
pytest-asyncio = "^0.18.2"
pytest-cov = "^3.0.0"
pytest-xdist = "^2.5.0"
pytest-clarity = "^1.0.1"
sphinx = "^4.4.0"
pydata-sphinx-theme = "^0.8.0"
toml = "^0.10.2"
types-ujson = "^4.2.1"
datadog = "^0.44.0"
types-requests = "^2.27.14"

[tool.poetry.extras]
datadog = ["datadog"]

[tool.poetry.scripts]
tracarbon = "tracarbon.cli:main"

[project.urls]
documentation = "https://fvaleye.github.io"
repository = "https://github.com/fvaleye/tracarbon"

[tool.mypy]
files = "tracarbon/"
exclude = "venv,^tests"
mypy_path = "./stubs"
disallow_any_generics = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = false
implicit_reexport = true
strict_equality = true

[tool.isort]
profile = "black"
src_paths = ["tracarbon", "tests"]

[tool.black]
include = '\.pyi?$'
exclude = "venv"

[tool.pytest.ini_options]
addopts = "--cov=tracarbon -v --asyncio-mode=auto"
markers = [
    "darwin",
    "windows",
    "linux"
]
testpaths = [
    "tests",
]