[tool.poetry]
name = "tracarbon"
authors = ["Florian Valeye <fvaleye@github.com>"]
version = "0.6.0"
description = "Tracarbon is a Python library that tracks your device's energy consumption and calculates your carbon emissions."
readme = "README.md"
license = "Apache-2.0"
keywords = ["energy", "sustainability", "energy-consumption", "electricity-consumption", "energy-efficiency", "carbon-footprint", "carbon-emissions"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only"
]
include = ["tracarbon/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
loguru = "^0.6.0"
aiohttp = "^3.8.1"
aiocache = "^0.12.0"
aiofiles = "^23.1.0"
psutil = "^5.9.4"
ujson = "^5.7.0"
msgpack = "^1.0.4"
pydantic = "^1.9.1"
typer = "^0.7.0"
ec2-metadata = "^2.11.0"
python-dotenv = ">=0.21,<1.1"
datadog = {version = "^0.44.0", optional = true}
prometheus-client = {version = "^0.16", optional = true}
kubernetes = {version = "^26.1.0", optional = true}

[tool.poetry.dev-dependencies]
mypy = "^1.0"
black = "^23.1.0"
isort = "^5.11.5"
pytest = "^7.2.2"
pytest-mock = "^3.7.0"
pytest-asyncio = "^0.20.3"
pytest-cov = "^4.0.0"
pytest-xdist = "^3.1.0"
pytest-clarity = "^1.0.1"
sphinx = "^6.1.3"
pydata-sphinx-theme = "^0.13.1"
toml = "^0.10.2"
types-ujson = "^5.7.0"
datadog = "^0.44.0"
prometheus-client = "^0.16"
types-requests = "^2.28.11"
bandit = "^1.7.4"
radon = "^5.1.0"
types-aiofiles = "^23.1.0"
kubernetes = "^26.1.0"

[tool.poetry.extras]
datadog = ["datadog"]
prometheus = ["prometheus-client"]
kubernetes = ["kubernetes"]

[tool.poetry.scripts]
tracarbon = "tracarbon.cli:main"

[project.urls]
documentation = "https://fvaleye.github.io"
repository = "https://github.com/fvaleye/tracarbon"

[tool.mypy]
files = "tracarbon/"
exclude = "venv,^tests"
mypy_path = "./stubs"
disallow_any_generics = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = false
implicit_reexport = true
strict_equality = true
strict_optional = false

[tool.bandit]
skips = ["B404", "B607", "B602"]
exclude_dirs = ["tests", "scripts"]

[tool.isort]
profile = "black"
src_paths = ["tracarbon", "tests"]

[tool.black]
include = '\.pyi?$'
exclude = "venv"

[tool.pytest.ini_options]
addopts = "--cov=tracarbon -v --asyncio-mode=auto"
markers = [
    "darwin",
    "windows",
    "linux"
]
testpaths = [
    "tests",
]