name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install uv
        run: pip install uv

      - name: Check Python
        run: |
          make init
          pip install pre-commit
          pre-commit install
          make format

      - name: Check Data
        run: make check-data

  unit_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14
          - macos-15
          - windows-2022
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install uv
        run: pip install uv

      - name: Run unit tests
        run: |
          make init
          make test-unit

      - name: Run type checking
        run: make typecheck

      - name: Run security and complexity
        run: |
          make security
          make complexity

      - name: Build Sphinx documentation
        run: |
          make build-documentation
